@import '@ionic/angular/css/core.css';
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

:root {
  --ion-font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --ion-color-primary: #e31820;
  --ion-color-primary-rgb: 227, 24, 32;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c8161c;
  --ion-color-primary-tint: #e6323a;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #000000;
}
